.selected-flag {
  width: 100% !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: #f3f4f6 !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #F7DF9C !important;
}

.search-emoji {
  display: none !important;
}

.react-tel-input .country-list .search-box {
  width: 95% !important;
  margin-left: 0 !important;
  padding: 5px 5px !important;
}

.react-tel-input .country-list .search-box:focus {
  border-color: rgb(183 153 130) !important;
}

input[type="checkbox"] {
  accent-color: #755647;
}

.sp_login .left {
  display: flex;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.sp_login .right {
  flex: 1;
  transition: 1s;
  background-image: url("../Images/hotel1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sp_login header h2 {
  margin: 0;
}

.sp_login header h4 {
  color: #fff;
  opacity: 0.4;
  font-size: 1rem;
  font-weight: normal;
}

.sp_login form {
  display: flex;
  flex-direction: column;
}

.sp_login .input-field {
  height: 46px;
  padding: 0 1rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: none;
  margin-top: 1.25rem;
  transition: 0.2s;
}

.sp_login .otpBox {
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: none;
  margin-top: 1.25rem;
  transition: 0.2s;
}

.sp_login .otpBox:focus {
  border-color: #E3C78A;
}

.sp_login .input-field:focus {
  border-color: #E3C78A;
}

.sp_login form button {
  padding: 0.75rem 0.625rem;
  border: 0;
  background-color: #B79982;
  border-radius: 0.25rem;
  margin-top: 0.625;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  border: 2px solid transparent;
}

.sp_login .animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.sp_login .a1 {
  animation-delay: 1s;
}

.sp_login .a2 {
  animation-delay: 1.2s;
}

.sp_login .a3 {
  animation-delay: 1.4s;
}

.sp_login .a4 {
  animation-delay: 1.6s;
}

.sp_login .a5 {
  animation-delay: 1.8s;
}

.sp_login .a6 {
  animation-delay: 1s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0%;
  }

  100% {
    opacity: 1;
    width: 440px;
    padding: 3rem;
  }
}


.recharts-wrapper {
  height: 50vh;
}

@media(max-width:374px) {
  @keyframes left {
    0% {
      opacity: 0;
      width: 0%;
    }

    100% {
      opacity: 1;
      width: 440px;
      padding: 1.5rem;
    }
  }

}

@media (min-width: 640px) {
  .recharts-wrapper {
    height: 50vh;
  }
}

@media (min-width: 1024px) {
  .recharts-wrapper {
    height: 37vh;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .recharts-wrapper {
    height: 35vh;
  }
}


.recharts-surface:focus {
  outline: none;
}

.recharts-layer:focus,
.recharts-area-_r_2u_:focus,
.recharts-zindex--100-_r_2s_:focus {
  outline: none;
}


.sp_sidebar a:hover {
  color: #876B56 !important;
}

/* For Ant Design DatePicker (can customize selector for your case) */
.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-inner:focus {
  background: #876B56 !important;
  /* Use your preferred brown hex */
  color: #fff !important;
  border-color: #876B56 !important;
}

.ant-picker-dropdown .ant-picker-header-view>button:hover {
  color: #876B56;
}

.ant-picker-outlined {
  border-style: none;
}

.ant-picker-outlined:focus-within {
  box-shadow: none;
}

/* If there's a primary button override for the month picker */
.ant-picker-month-btn.ant-picker-cell-selected {
  background: #876B56 !important;
  color: #fff !important;
}