.mv_table_action div {
    width: 30px;
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}
.mv_table_action div:last-child{
    margin-right: 0px;
}
.mv_table_action div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.mv_View_btn {
    width: 150px;
    min-width: 150px;
    background-color: transparent;
    color: white;
    text-align: center;
    height: 42px;
    line-height: 44px;
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.2s;
    cursor: pointer;
}
.mv_View_btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.mv_Add_btn {
    width: 150px;
    min-width: 150px;
    color: black;
    text-align: center;
    height: 42px;
    line-height: 44px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.mv_Add_btn:hover {
    color: black;
}
.mv_user_cancel{
    border: 1px solid black;
    color: #000000;
    height: 45px;
    width: 160px;
    /* margin-right: 30px; */
    background-color: transparent;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}
.mv_user_cancel:hover{
    color: black;
    border: 1px solid black;
}
.mv_user_add{
    border: 1px solid black;
    height: 45px;
    width: 160px;
    border-radius: 4px;
    color: black;
    transition: 0.3s ease-in-out;
}
.mv_user_add:hover{
    border: 1px solid black;
    color: black;
}
.mv_resetpass_add{
    border: 1px solid black;
    height: 45px;
    width: 160px;
    border-radius: 4px;
    color: black;
    transition: 0.3s ease-in-out;
}
.mv_resetpass_add:hover{
    border: 1px solid black;
    color: black;
}

@media(max-width:576px) {
    .mv_Add_btn {
        min-width: 100px;
        width: 100px;
    }
    .mv_View_btn {
        min-width: 100px;
        width: 100px;
    }
    .mv_user_cancel{
        height: 40px;
        width: 120px;
        /* margin-right: 30px; */
        font-size: 14px;
    }
    .mv_user_add{
        height: 40px;
        width: 120px;
        font-size: 14px;
    }
}

@media (max-width:375px) {
    .mv_user_cancel{
        height: 40px;
        width: 120px;
        /* margin-right: 30px; */
        font-size: 14px;
    }
    .mv_user_add{
        height: 40px;
        width: 120px;
        font-size: 14px;
    }
    .mv_resetpass_add{
        height: 40px;
        width: 150px;
        font-size: 14px;
    }
}