@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Play:wght@400;700&display=swap%27');
 
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* scrollbar style css */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
	background-color: #b79982;
}
/* Custom Quill editor sizing for BlogForm */
.custom-quill .ql-editor {
  min-height: 100px;
  max-height: 150px;
  overflow: auto;
  padding: 12px 15px;
}
/* ensure the container doesn't force extra height */
.custom-quill .ql-container {
  height: auto;
}
