@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Play:wght@400;700&display=swap'); 

body{
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}